---
import Layout from "../layouts/TodoMVCLayout.astro";
---

<Layout framework="elm">
  <div id="root"></div>
  <script>
    import type { TodoT } from '@todomvc-core/global';
		import { Elm } from "@todomvc-elm/App.elm";

    const root = document.getElementById("root");

    const app = Elm.App.init({
      node: root,
      flags: JSON.parse(localStorage.getItem('todo-list') ?? '[]'),
    });

    app.ports.saveTodoList.subscribe((todoList: TodoT[]) => {
      localStorage.setItem("todo-list", JSON.stringify(todoList));
    });
  </script>
</Layout>
