---
import './base.css';
const { framework } = Astro.props;
---
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{framework} TodoMVC</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>
  <body>
    <article>
      <h1>Todo MVC with {framework}</h1>
        <slot />
    </article>
  </body>
</html>