---
import './base.css';
const { framework } = Astro.props;
---
<html data-theme="halloween">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{framework} TodoMVC</title>
    
  </head>
  <body>
    <main>
      <h1 class="text-4xl">Todo MVC with {framework}</h1>

      <slot />
    </main>
  </body>
</html>